/*multiple copies of style.css are kept in each subdomain in order to run easier on the dev env.  Updates to the std web css should be updated across subdomains.*/
/*standard website css*/
body{
    background-color:whitesmoke;
    margin:0;
    padding:0;
}
h1,h2,h3 {
    margin: 10px;
    font-family: monospace;
    border-bottom: solid 1px black;
}
p,a,ul,li{
    margin:10px;
    font-family: monospace;
    font-size:16px;
}
ul{
    word-wrap: break-word;
    padding-left: 10px;
}
/*--------------------*/

input{
    margin:10px;
    font-size:16px;
}
code{
    background-color:lightgray;
}
.docs{
    word-wrap: break-word;
}
/*Shamless css stealing*/
.submit {
    margin:10px;
    background-color: orange;
    border-radius: 1px;
    cursor: pointer;
    color: black;
    font-family: monospace;
    font-size: 16px;
    padding: 3px 20px;
    text-decoration: none;
    vertical-align:bottom;
    border:none;
}
.submit:hover {
    background-color:orangered;
}
.submit:active {
    position:relative;
    top:1px;
}