input{
    margin:10px;
    font-size:16px;
}
code{
    background-color:lightgray;
}
.docs{
    word-wrap: break-word;
}
/*Shamless css stealing*/
.submit {
    margin:10px;
    background-color: orange;
    border-radius: 1px;
    cursor: pointer;
    color: black;
    font-family: monospace;
    font-size: 16px;
    padding: 3px 20px;
    text-decoration: none;
    vertical-align:bottom;
    border:none;
}
.submit:hover {
    background-color:orangered;
}
.submit:active {
    position:relative;
    top:1px;
}